<!DOCTYPE html>
<html>
<head>
    <title>Granular Take Home Table</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/lodash/lodash.js"></script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/foundation-sites/dist/foundation.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-app="tableApp" ng-controller="MainController">
<!-- {{headerSizes}} -->
	
	<div class="row">&nbsp;</div>

	<div class="row">
		<div class="callout clearfix">
			<span class="small-4 medium-4 large-4 columns">
	  			<select ng-options="cycle as cycle for cycle in tableModel.production_cycles track by cycle" ng-model="selectedCycle"></select>
			</span>
			<span class="small-4 medium-4 large-4 columns">
	  			<select ng-options="product as product for product in tableModel.crop_products track by product" ng-model="selectedProduct"></select>
			</span>
			<span class="small-2 medium-2 large-2 columns">
	  			<button type="button" class="alert button float-right" ng-click="resetSelections()">Reset</button>
			</span>			
		</div>

	</div>

    <div class="row">
    	
        <table style="border-collapse:collapse;">
            <thead>
            <tr>
                <th categories list="tableModel.categories" sizes='headerSizes'></th>
            </tr>
            </thead>
        </table>
        <table>
            <tbody>
            <tr ng-repeat="(cropProduct, productionCycle) in tableModel.table.crop_products">
                <td>
                    <div sub-table selected-cycle="selectedCycle" available-cycles="tableModel.production_cycles" ng-if="cropProduct === selectedProduct || selectedProduct === tableModel.crop_products[0]" title="cropProduct" header-sizes="headerSizes" table="productionCycle.production_cycles"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>